.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 5rem;
    .description{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .step{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .pic1{
            width: 20vw;
        }
        .description{
            padding-bottom: 2rem;
        }
        img{
            border: 1px solid black;
        }
        .containerBlock{
            .labelFigure{
                font-style: italic;
                font-size: 15px;
                padding-bottom: 2rem;
            }
            .description{
                padding-bottom: 2rem;
            }
            img{
                border: 1px solid black;
            }
            .pic2, .pic3{
                width: 70vw;
            }
            .pic4, .pic5{
                width: 40vw;
            }
            .pic6, .pic7{
                width: 50vw;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container{
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        .step{
            .pic1{
                width: 50vw;
            }
            .containerBlock{
                .pic4, .pic5{
                    width: 60vw;
                }
                .pic6, .pic7{
                    width: 80vw;
                }
            }
        }
    }
}