.containerElement{
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .numberOfLessons{
        font-size: 18px;
        display: flex;
        gap: 0.3rem;
        margin-bottom: 0.5rem;
        justify-content: center;
        align-items: center;
        .fluctuate{
            background-color: #959595;
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 0.3rem;
            cursor: pointer;
            &:hover{
                background-color: #a7a4a4;
            }
            &:active{
                background-color: #828282;
            }
        }
    }
    .scheduleBlock{
        padding: 0.3rem ;
        display: flex;
        gap: 0.3rem;
    }
    
    .numberOfSchedule1, .numberOfSchedule2, .numberOfSchedule3, .numberOfSchedule4, .numberOfSchedule5, .numberOfSchedule6, .numberOfSchedule7 {
        .itemSchedule{
            border: 5px double gray;
            border-collapse: collapse;
            padding: 0 0.3rem;
            padding-bottom: 0.2rem;
            .day, .time, .date{
                text-align: center;
                padding: 0.3rem 0rem;
                margin: 0rem 0.5rem;
            }
            .day{
                border-bottom: 2px solid black;
            }
        }
        .redNotice {
            border-color: rgb(248, 136, 136);
        }
    }
    .numberOfSchedule1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .numberOfSchedule2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .numberOfSchedule3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .numberOfSchedule4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .numberOfSchedule5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .numberOfSchedule6{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .numberOfSchedule7{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .linkToModal{
        text-decoration: underline;
        font-size: 0.8rem;
        font-style: italic;
        color: rgb(89, 89, 236);
        cursor: pointer;
    }
    .containerBlockDayChoosen{
        margin: 0.4rem 0;
        border: 1px solid black;
        padding: 0.6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        .blockChooseDay{
            display: flex;
            gap: 0.4rem;
            align-items: center;
            .dayOfWeek{
                width: 6vw;
            }
            .pickTimeTag{
                width: 20vw;
                display: flex;
                justify-content: center;
                height: 3rem;
                justify-content: center;
                align-items: center;
                div{

                    padding-bottom: 0.2rem;
                }
            }
            .redNotice {
                box-shadow: none;
                div{
                    border-color: rgb(248, 136, 136);
                }
            }
        }
        .content{
            font-size: 13px;
            width: 26vw;
            overflow-wrap: break-word;
            width: 100%;
            text-align: center;
        }
        .blockDurations{
            display: flex;
            gap: 0.3rem;
        }
        div{
            select{
                padding: 0.3rem 0.5rem;
            }
        }
        div.redNotice{
            box-shadow: rgb(254, 115, 115) 0px 0px 20px;
        }
        .blockTravelTime{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .editBtn{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                padding: 0.4rem;
                svg{
                    height: 16px;
                }
                &:hover{
                    background-color: #b7b7b7;
                    color: rgb(0, 0, 0);
                }
                
            }
        }
    }
    .blockInput{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        .blockLable{
            display: flex;
            gap: 0.3rem;
        }
        input{
            padding: 0.3rem 0.5rem;
            width: 97%;
            border: 2px solid black;
        }
        .redNotice{
            border-color: rgb(255, 104, 104);
        }
        .inputImgTag{
            display: none;
            visibility: none;
        }
        .dropzone{
            border: 2px dashed #cccccc;
            border-radius: 4px;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center ;
            align-items: center;
            .containerImage{
                object-fit: cover;
                border: 1px solid #cccccc;
                border-radius: 4px;
                position: relative;
                height: 10rem;
                width: 10rem;
                img{
                    width: 10rem;
                    height: 10rem;
                    object-fit: cover;
                    overflow: hidden;
                }
                svg{
                    position: absolute;
                    height: 20px;
                    right: 0px;
                    top : 4px;
                    color: #7e7979;
                    &:hover{
                        color: #696969;
                    }
                    &:active{
                        color: #696969;
                    }
                }
            }
        }
        
        
        .blockPaste{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            svg{
                cursor: pointer;
                width: 30px;
                &:hover{
                    scale: 1.03;
                }
                &:active{
                    color: rgb(59, 59, 59);
                }
            }
        }
    }
    .footer{
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
        .saveBtn{
            background-color: rgb(2, 164, 2);
            color: white;
            padding: 0.2rem 1rem;
            cursor: pointer;
            &:hover{
                background-color: rgb(17, 195, 17);
            }
            &:active{
                background-color: rgb(25, 156, 25);
            }
        }
        .exitBtn{
            padding: 0.2rem 1rem;
            background-color: rgb(250, 66, 66);
            color: white;
            cursor: pointer;
            &:hover{
                background-color: rgb(250, 80, 80);
            }
            &:active{
                background-color: rgb(220, 51, 51);
            }
        }
    }
    
}