.container{
    display: flex;
    .left{
        margin: 1rem 0.5rem 1rem 1rem;

        .blockToggleShowWeek{
            margin-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            .itemBtn{
                padding: 0.3rem 0.5rem;
                border: 1px solid black;
                border-radius: 15px;
                cursor: pointer;
                &:hover{
                    background-color: rgb(243, 243, 243);
                }
            }
            .choosen{
                background-color: rgb(78, 134, 253);
                border-color: rgb(78, 134, 253);
                color: white;
                &:hover{
                    background-color: rgb(120, 184, 253);
                }
            }
        }
    
    }
    .right{
        margin-top: 1rem;
        margin-left: 0.5rem;
        border: 1px solid black;
        height: 85vh;
        overflow-y: scroll;
        width: 75%;
        .hourRow{
            padding: 0 0.5rem;
            display: grid;
            height: 6rem;
            border: 1px solid gray;
            border-collapse: collapse;
            grid-template-columns: 0.1fr 2fr;
            .labelHour{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            .blockContentWork{
                display: grid;
            }
            .blockContentOneDay{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid gray;
                margin-left: 0.5rem;
            }
        }
    }
}